ActiveMQTest/src/main/resources/ClockResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema id="ClockResult" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ClockResult" type="ClockResult"/>

    <xs:complexType name="ClockResult">
        <xs:sequence>
            <xs:element name="Summary">

            </xs:element>
            <xs:element name="Basket" type="Basket" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Details of the basket that was purchased</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Components" type="Components" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A tree containing the components used (and any useful parameters)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- TODO: Put stuff in this!-->
            <xs:element name="Performance" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Records performance data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="GUID" use="required">
            <xs:annotation>
                <xs:documentation>Unique identifier for this result set.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Basket">
        <xs:sequence>
            <xs:element name="BasketHeader" type="BasketHeader" minOccurs="1" maxOccurs="1"/>
            <xs:element name="BasketItem" type="BasketItem" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BasketHeader">
        <xs:all>
            <xs:element name="TrsType">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Branch">
                <xs:annotation>
                    <xs:documentation>Store number (PFS branch number where store is integrated)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="99999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TillNo">
                <xs:annotation>
                    <xs:documentation>Till number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReceiptNo">
                <xs:annotation>
                    <xs:documentation>Receipt Number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Cashier">
                <xs:annotation>
                    <xs:documentation>Cashier number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Date" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>The date/time of the checkout</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CheckOutBankNo">
                <xs:annotation>
                    <xs:documentation>Checkout Bank Number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Country">
                <xs:annotation>
                    <xs:documentation>Till ISO Country Code</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Currency">
                <xs:annotation>
                    <xs:documentation>Till ISO Currency Code</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ClubcardNo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Primary account number (PAN)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="19"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BasketTotal" type="Money"/>
            <xs:element name="Training" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>0=Live                 1=Training</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="BasketItem">
        <xs:sequence>
            <xs:element name="Tesco" type="TescoItem" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Offer" type="OfferItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Barcode" type="Barcode" use="required"/>
        <xs:attribute name="Quantity" type="xs:float" use="required"/>
        <xs:attribute name="UnitOfMeasure" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="TescoItem">
        <xs:sequence>
            <xs:element name="Price" type="Price" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="IsOnPromotion" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Is this product on promotion?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsComparable" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>This is false for things like carrier bag charges, tobacco, pharmacy purchases, ...</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OfferItem">
        <xs:sequence>
            <xs:element name="Price" type="Price" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="IsOnPromotion" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Is this product on promotion?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OfferId" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>uniquely identifies this Offer.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="Barcode">
        <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Money">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Price">
        <xs:attribute name="PreDiscount" type="Money" use="required">
            <xs:annotation>
                <xs:documentation>The price of the specified quantity of a product before any discount has been applied.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Apportioned" type="Money" use="required">
            <xs:annotation>
                <xs:documentation>The price of the specified quantity of a product after any promotions has been applied.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="GUID">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The representation of a GUID, generally the id of an element.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ABC"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Components">
        <xs:sequence>
            <xs:element name="Component" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="AssemblyQualifierName" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="Properties" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Property" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="Name" use="required">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Components" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="AssemblyQualifierName">
        <xs:sequence>
            <xs:element name="ClassName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AssemblyName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Version" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Culture" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PublicKeyToken" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>